body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #595959;
    color: #fff;
    padding: 10px;
}

.logo img {
    width: 100px;
}

.nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.3s ease;
}

.nav a:hover {
    color: #ffcc00;
}

.content {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content h2 {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
}

.content p {
    color: #555;
    font-size: 18px;
    line-height: 1.6;
}
